* {
    margin: 0;
    padding: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
}

$color-body: #454545;
$color-main:#FFFEF8;

body {
    background-color: $color-body;
}

.player {

    width: 540px;
    height: 169px;
    margin: auto;
    margin-top: 10%;
    background: #FFFEF8;
    border-radius: 14.6957px;
    display: flex;

    .img {
        background-image: url(./img/quasimoto.svg);
        background-repeat: no-repeat;
        width: 169px;
        height: 169px;
    }

    .wrapper {
        .title-flex {
            display: flex;
            justify-content: space-between;
            margin-top: 20px;
            margin-left: 10px;

            #title {
                font-weight: 700;
                font-size: 18px;
                color: #000000;

            }

            .img-spotify {
                background-image: url(./img/spotifyBtn.svg);
                background-repeat: no-repeat;
                width: 21px;
                height: 21px;
            }
        }

        #singer {
            font-weight: 400;
            font-size: 14px;
            color: #454545;
            margin-top: 5px;
            margin-left: 10px;

        }

        .line-time {
            margin-top: 20px;
            margin-left: 10px;
            display: flex;

            .line-flex {
                width: 257px;
                height: 3px;
                background: #DADADA;
                margin-top: 5px;
            }

            .line {
                width: 2px;
                height: 3px;
                background: #B45353;
            }

            .time {
                font-weight: 400;
                font-size: 12px;
                color: #454545;
                margin-left: 15px;
            }
        }

        .panel {
            display: flex;
            justify-content: space-between;
            margin-top: 20px;
            margin-left: 10px;

            .repeat-btn {
                background-image: url(./img/repeatBtn.svg);
                background-repeat: no-repeat;
                width: 24px;
                height: 24px;
            }

            .play {
                display: flex;
                justify-content: space-between;
                margin-top: 5px;

                .back {
                    background-image: url(./img/back.svg);
                    background-repeat: no-repeat;
                    width: 18px;
                    height: 10px;
                    margin-top: 2px;
                }

                .play-stop {
                    background-image: url(./img/Polygon\ 1.svg);
                    background-repeat: no-repeat;
                    background-size: cover;
                    width: 12px;
                    height: 14px;
                    margin-left: 33px;
                    margin-right: 33px;
                }

                .forward {
                    background-image: url(./img/forward.svg);
                    background-repeat: no-repeat;
                    width: 18px;
                    height: 10px;
                    margin-top: 2px;
                }


            }

            .like {
                background-image: url(./img/Icon\ \(1\).svg);
                background-repeat: no-repeat;
                width: 24px;
                height: 24px;
            }
        }

    }
}